.quest-top {
    background-image: url(quest-img/quest_up_2.png);
    background-repeat: no-repeat;
    background-size: auto auto;
}

.quest-base {
    background-image: url(quest-img/quest_base_2.png);
    background-repeat: no-repeat;
    background-size: auto auto;
}

.quest-bottom {
    background-image: url(quest-img/quest_down_2.png);
    background-repeat: no-repeat;
    background-size: auto auto;
}

.quest-assembly {
    background-image: url(quest-img/quest_down_assembly_2.png);
    background-repeat: no-repeat;
    background-size: auto auto;
}
/*
.whauto {
    width: auto;
    height: auto;
}

td, tr {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}*/

#table-wrapper, #summary {
    margin-top: 20px;
}

#table-wrapper img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

#calc-render * {
    vertical-align: top;
}

#summary {
    text-align: left;
}

#calc-render span, #calc-choice span {
    font-size: 15px;

    line-height: 19px;
    text-shadow: 1px 1px #CCCCCC;
    color: #404040;
    font-family: Tahoma;
}

#imPage div {
    height: auto !important;
}

#invalid-measurements {
    font-size: 15px;
    line-height: 19px;
    text-shadow: 1px 1px #CCCCCC;
    color: black;
    font-family: Tahoma;
}
